body {
	font-family: arial;
}
h3 {
	text-transform: uppercase;
}
#tugasdbu, #fungsidbu {
	font-weight: bold;
}
#dbu {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tudbu {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#subdit1 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit1, #fungsisubdit1 {
	font-weight: bold;
}
#subdit1seksi1 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit1seksi1 {
	font-weight: bold;
}
#subdit1seksi2 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit1seksi2 {
	font-weight: bold;
}
#subdit2 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit2, #fungsisubdit2 {
	font-weight: bold;
}
#subdit2seksi1, #subdit2seksi2 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit2seksi1, #tugassubdit2seksi2{
	font-weight: bold;
}
#subdit3 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit3, #fungsisubdit3 {
	font-weight: bold;
}
#subdit3seksi1, #subdit3seksi2 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit3seksi1, #tugassubdit3seksi2{
	font-weight: bold;
}
#subdit4 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit4, #fungsisubdit4 {
	font-weight: bold;
}
#subdit4seksi1, #subdit4seksi2 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit4seksi1, #tugassubdit4seksi2{
	font-weight: bold;
}
#subdit5 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit5, #fungsisubdit5 {
	font-weight: bold;
}
#subdit5seksi1, #subdit5seksi2 {
	font-size: 20px;
	border: 2px solid black;
	width: 80%;
	margin: 5px 10%;
	padding: 0px 10px;
	text-align: justify;
}
#tugassubdit5seksi1, #tugassubdit5seksi2{
	font-weight: bold;
}













