html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


body {
	font-family: arial;
	text-transform: uppercase;
	position: relative;
}

a {text-decoration: none;}
.kembali {
	border: 2px solid black;
	display: inline-block;
	margin-top: 20px
	margin-left: 20px;
}
.kampen {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	width: 500px;
	margin: 48px 390px ;
	padding: 20px;
	border: 2px solid black;
}
.tu {
	text-align: center;
	font-size: 18px;
	width: 220px;
	height: 120px;
	margin-left: 800px;
	padding: 45px 8px;
	border: 2px solid magenta;
	box-sizing: border-box;
}
.garisTU {
	border-top: 2px solid black;
	position: absolute;
	width: 140px;
	top: 250px;
	left: 660px;
}
.garisDirektur1 {
	border-left: 2px solid black;
	position: absolute;
	height: 255px;
	top: 145px;
	left: 660px;
}
.garisDirektur2 {
	border-top: 2px solid black;
	position: absolute;
	width: 1000px;
	top: 370px;
	left: 160px;
}
.garissubditSatu {
	border-left: 2px solid black;
	position: absolute;
	height: 30px;
	top: 370px;
	left: 160px;
}
.garissubditDua {
	border-left: 2px solid black;
	position: absolute;
	height: 30px;
	top: 370px;
	left: 410px;
}
.garissubditEmpat {
	border-left: 2px solid black;
	position: absolute;
	height: 30px;
	top: 370px;
	left: 910px;
}
.garissubditLima {
	border-left: 2px solid black;
	position: absolute;
	height: 30px;
	top: 370px;
	left: 1160px;
}
.garissubditSatu1 {
	border-left: 2px solid black;
	position: absolute;
	height: 35px;
	top: 525px;
	left: 160px;
}
.garissubditSatu2 {
	border-top: 2px solid black;
	position: absolute;
	width: 132px;
	top: 560px;
	left: 30px;
}
.garissubditSatu3 {
	border-left: 2px solid black;
	position: absolute;
	height: 215px;
	top: 560px;
	left: 30px;
}
.garissubditSatu4 {
	border-top: 2px solid black;
	position: absolute;
	width: 33px;
	top: 660px;
	left: 30px;
}
.garissubditSatu5 {
	border-top: 2px solid black;
	position: absolute;
	width: 33px;
	top: 775px;
	left: 30px;
}
.garissubditDua1 {
	border-left: 2px solid black;
	position: absolute;
	height: 35px;
	top: 525px;
	left: 410px;
}
.garissubditDua2 {
	border-top: 2px solid black;
	position: absolute;
	width: 132px;
	top: 560px;
	left: 280px;
}
.garissubditDua3 {
	border-left: 2px solid black;
	position: absolute;
	height: 215px;
	top: 560px;
	left: 280px;
}
.garissubditDua4 {
	border-top: 2px solid black;
	position: absolute;
	width: 33px;
	top: 660px;
	left: 280px;
}
.garissubditDua5 {
	border-top: 2px solid black;
	position: absolute;
	width: 33px;
	top: 775px;
	left: 280px;
}
.garissubditTiga1 {
	border-left: 2px solid black;
	position: absolute;
	height: 35px;
	top: 525px;
	left: 660px;
}
.garissubditTiga2  {
	border-top: 2px solid black;
	position: absolute;
	width: 132px;
	top: 560px;
	left: 530px;
}
.garissubditTiga3 {
	border-left: 2px solid black;
	position: absolute;
	height: 215px;
	top: 560px;
	left: 530px;
}
.garissubditTiga4 {
	border-top: 2px solid black;
	position: absolute;
	width: 33px;
	top: 660px;
	left: 530px;
}
.garissubditTiga5 {
	border-top: 2px solid black;
	position: absolute;
	width: 33px;
	top: 775px;
	left: 530px;
}
.garissubditEmpat1 {
	border-left: 2px solid black;
	position: absolute;
	height: 35px;
	top: 525px;
	left: 910px;
}
.garissubditEmpat2 {
	border-top: 2px solid black;
	position: absolute;
	width: 112px;
	top: 560px;
	left: 800px;
}
.garissubditEmpat3 {
	border-left: 2px solid black;
	position: absolute;
	height: 215px;
	top: 560px;
	left: 800px;
}
.garissubditEmpat4 {
	border-top: 2px solid black;
	position: absolute;
	width: 12px;
	top: 660px;
	left: 800px;
}
.garissubditEmpat5 {
	border-top: 2px solid black;
	position: absolute;
	width: 12px;
	top: 775px;
	left: 800px;
}
.garissubditLima1 {
	border-left: 2px solid black;
	position: absolute;
	height: 35px;
	top: 525px;
	left: 1160px;
}
.garissubditLima2 {
	border-top: 2px solid black;
	position: absolute;
	width: 132px;
	top: 560px;
	left: 1030px;
}
.garissubditLima3 {
	border-left: 2px solid black;
	position: absolute;
	height: 215px;
	top: 560px;
	left: 1030px;
}
.garissubditLima4 {
	border-top: 2px solid black;
	position: absolute;
	width: 32px;
	top: 660px;
	left: 1030px;
}
.garissubditLima5 {
	border-top: 2px solid black;
	position: absolute;
	width: 32px;
	top: 775px;
	left: 1030px;
}
.garisjabfung {
	border-left: 2px solid black;
	position: absolute;
	height: 512px;
	top: 370px;
	left: 782px;
}
.subdit { 
	margin-top: 80px;
	margin-bottom: 60px;
	padding-left: 40px;
}
.subdit fieldset {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	height: 120px;
	margin: 10px 12px;
	padding: 20px 8px;
	border: 2px solid magenta;
	box-sizing: border-box;
}
.subdit .empat {
	padding: 30px 20px;
}

.subditSatu {
	/*border: 2px solid black;*/
	box-sizing: border-box;
	width: 220px;
	margin-left: 52px;
	display: inline-block;
}

.subditSatu fieldset {
	font-size: 14px;
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 30px 4%;
	border: 2px solid black;
	box-sizing: border-box;
	text-align: center;
}
.subditDua {
	/*border: 2px solid black;*/
	box-sizing: border-box;
	width: 220px;
	margin-left: 25px;
	display: inline-block;
}
.subditDua fieldset {
	font-size: 14px;
	/*vertical-align: middle;*/
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 20px 4%;
	border: 2px solid black;
	box-sizing: border-box;
	text-align: center;
}
.subditTiga {
	/*border: 2px solid black;*/
	box-sizing: border-box;
	width: 220px;
	margin-left: 25px;
	display: inline-block;
}
.subditTiga fieldset {
	font-size: 14px;
	/*vertical-align: middle;*/
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 30px 4%;
	border: 2px solid black;
	box-sizing: border-box;
	text-align: center;
}
.subditEmpat {
	/*border: 2px solid black;*/
	box-sizing: border-box;
	width: 220px;
	margin-left: 25px;
	display: inline-block;
}
.subditEmpat fieldset {
	font-size: 14px;
	/*vertical-align: middle;*/
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 30px 4%;
	border: 2px solid black;
	box-sizing: border-box;
	text-align: center;
}
.subditLima {
	/*border: 2px solid black;*/
	box-sizing: border-box;
	width: 220px;
	margin-left: 25px;
	display: inline-block;
}
.subditLima fieldset {
	font-size: 14px;
	/*vertical-align: middle;*/
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 20px 4%;
	border: 2px solid black;
	box-sizing: border-box;
	text-align: center;
}
.jabfung {
	text-align: center;
	font-size: 14px;
	width: 180px;
	height: 80px;
	margin: 3% 700px;
	padding: 20px 2%;
	border: 2px dashed black;
	box-sizing: border-box;
}

legend {
	text-align: left;
	font-size: 14px;
}

.subditSatu .satu,
.subditDua .dua,
.subditLima .dua {
	padding: 35px 4%;
}






