html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


body {
	font-family: arial;
	text-align: center;
	text-transform: uppercase;
}
a {text-decoration: none;}
h1 {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin: 4% 35%;
	padding: 1.5%;
	border: 2px solid black;
}
.bag { text-align: center;}
.bag fieldset {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	height: 110px;
	margin: 10px 35px;
	padding: 17px 8px;
	border: 2px solid magenta;
	box-sizing: border-box;
}
.bag .rt {padding: 30px 8px;}
.bagtu {
	border: 2px solid black;
	box-sizing: border-box;
	width: 220px;
	margin-left: 2px;
	display: inline-block;
}

.bagtu fieldset {
	font-size: 14px;
	vertical-align: middle;
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 30px 2%;
	border: 2px solid black;
	box-sizing: border-box;
}
.bagsurat {
	border: 2px solid black;
	box-sizing: border-box;
	width: 220px;
	margin-left: 70px;
	display: inline-block;
	margin-top: -20px;
}
.bagsurat fieldset {
	font-size: 14px;
	vertical-align: middle;
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 35px 2%;
	border: 2px solid black;
	box-sizing: border-box;
}
.bagrt {
	border: 2px solid black;
	box-sizing: border-box;
	width: 220px;
	margin-left: 70px;
	display: inline-block;
}
.bagrt fieldset {
	font-size: 14px;
	vertical-align: middle;
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 30px 2%;
	border: 2px solid black;
	box-sizing: border-box;
}
.bagrenkeu {
	border: 2px solid black;
	box-sizing: border-box;
	width: 220px;
	margin-left: 70px;
	display: inline-block;
}
.bagrenkeu fieldset {
	font-size: 14px;
	vertical-align: middle;
	width: 90%;
	height: 105px;
	margin: 5%;
	padding: 25px 2%;
	border: 2px solid black;
	box-sizing: border-box;
}

.jabfung {
	font-size: 14px;
	width: 15%;
	height: 80px;
	margin: 3% auto;
	padding: 24px 2%;
	border: 2px dashed black;
	box-sizing: border-box;
	position: relative;
	top: -150px;
}

legend {
	text-align: left;
	font-size: 14px;
}
.bagrt .dua,
.bagrt .tiga {
	padding: 14px 2%;
}
.bagrenkeu .satu {
	padding: 8px 2%;
}
.suratRenkeu {
	display: inline-block;
	/*border: 2px solid blue;*/
	position: relative;
	top: -233px;
}








